<a href="https://colab.research.google.com/github/adeebkhan0706/pwskillsassignmnets/blob/main/pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [18]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
df = pd.Series(data)
print(data)

[4, 8, 15, 16, 23, 42]

In [9]:
type(df)

pandas.core.series.Series

In [19]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.**

In [15]:
import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print(random_integers)

[89, 9, 10, 28, 82, 14, 88, 96, 15, 89]

In [16]:
series = pd.Series(random_integers)

In [17]:
type(series)

pandas.core.series.Series

In [20]:
series

0    89
1     9
2    10
3    28
4    82
5    14
6    88
7    96
8    15
9    89
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data:**

In [35]:
data = [('Alice', 25, 'Male'), ('Bob', 30, 'Male'), ('Claire', 27, 'Male')]
cols = [('Name', 'Age', 'Gender')]

In [37]:
df = pd.DataFrame(data, columns =cols[0])

In [38]:
df

     Name  Age Gender
0   Alice   25   Male
1     Bob   30   Male
2  Claire   27   Male

**Q4. What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.**

In the pandas library, a DataFrame is a two-dimensional labeled data structure that is commonly used for data manipulation and analysis. It can be thought of as a table where data is organized into rows and columns. Each column in a DataFrame can be of a different data type, and it allows you to perform various operations like filtering, selecting, merging, and aggregating data.

On the other hand, a Series is a one-dimensional labeled array that can hold data of any type. It is essentially a single column of a DataFrame. A Series has an associated index, which labels the elements, making it similar to a dictionary or a list in Python.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [39]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28]}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 22, 28], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28

Series:
0    25
1    30
2    22
3    28
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions for data manipulation in a DataFrame. Here are some common functions and methods along with examples of how they might be used:

1. head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are often used to quickly inspect the data.

In [40]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28]}
df = pd.DataFrame(data)

print(df.head(2))  # Display the first 2 rows
print(df.tail(1))  # Display the last row

    Name  Age
0  Alice   25
1    Bob   30
    Name  Age
3  David   28

2. info(): This function provides a concise summary of a DataFrame, including the data types, non-null counts, and memory usage. It's useful for understanding the structure of the data.

In [42]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes
None

3. describe(): This function generates various summary statistics of the numeric columns in a DataFrame, such as count, mean, standard deviation, min, max, and quartiles.

In [44]:
print(df.describe())

         Age
count   4.00
mean   26.25
std     3.50
min    22.00
25%    24.25
50%    26.50
75%    28.50
max    30.00

4. value_counts(): This method counts the occurrences of unique values in a column. It's useful for exploring categorical data.

In [45]:
print(df['Name'].value_counts())

Alice      1
Bob        1
Charlie    1
David      1
Name: Name, dtype: int64

5. sort_values(): This function allows you to sort the DataFrame by one or more columns.

In [46]:
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age
1      Bob   30
3    David   28
0    Alice   25
2  Charlie   22

6. groupby() and aggregation functions: groupby() is used to group data based on one or more columns, and aggregation functions like mean(), sum(), count(), etc., can be applied to calculate summary statistics for each group.

In [47]:
grouped = df.groupby('Age')['Name'].count()
print(grouped)

Age
22    1
25    1
28    1
30    1
Name: Name, dtype: int64

7. drop(): This method is used to remove rows or columns from a DataFrame.

In [48]:
new_df = df.drop(columns=['Age'])  # Remove the 'Age' column
print(new_df)

      Name
0    Alice
1      Bob
2  Charlie
3    David

8. fillna(): This method is used to fill missing values in a DataFrame with a specified value or a calculated value.

In [49]:
df_filled = df.fillna(value=0)  # Fill missing values with 0
print(df_filled)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28

9. merge() and concat(): These functions are used to combine multiple DataFrames based on common columns or indexes.

In [50]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Score': [85, 90, 78]})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [92, 88, 95]})

merged_df = pd.merge(df1, df2, on='ID', how='inner')
print(merged_df)

   ID  Score_x  Score_y
0   2       90       92
1   3       78       88

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

Among the options you provided, the DataFrame is mutable in nature.

A mutable object is one that can be modified after it is created. In the context of Pandas, mutability refers to the ability to modify the contents of an object after its creation.

Series: A Pandas Series is immutable, meaning you cannot change the elements after it's created. You can perform operations that generate a new Series with modified data, but the original Series remains unchanged.

DataFrame: A Pandas DataFrame is mutable, meaning you can modify the data, add or remove columns, change values, etc., after the DataFrame is created.

Panel: Note that the Panel was deprecated in recent versions of Pandas (0.25.0) and removed in later versions. It was intended to be a 3D data structure with DataFrame-like capabilities across multiple panels (a bit like a DataFrame of DataFrames). However, due to its complexity and the availability of better alternatives, it was deprecated and removed in favor of other data structures.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [51]:
import pandas as pd

# Creating individual Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 22, 28])
grades = pd.Series([85, 90, 78, 92])

# Creating a DataFrame using the Series
data = {'Name': names, 'Age': ages, 'Grade': grades}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age  Grade
0    Alice   25     85
1      Bob   30     90
2  Charlie   22     78
3    David   28     92