<a href="https://colab.research.google.com/github/adeebkhan0706/pwskillsassignmnets/blob/main/Pandas_Advanced_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. List any five functions of the pandas library with execution.**

Pandas is a popular Python library used for data manipulation and analysis. Here are five functions from the pandas library along with their execution examples:

1. read_csv(): This function is used to read data from a CSV file and create a DataFrame.

In [ ]:
import pandas as pd

# Read data from a CSV file and create a DataFrame
data = pd.read_csv('data.csv')
print(data)

2. head(): The head() function is used to display the first few rows of a DataFrame.

In [2]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 22, 28, 35]}

df = pd.DataFrame(data)

# Display the first 3 rows of the DataFrame
print(df.head(3))

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

3. info(): The info() function provides a summary of the DataFrame, including data types and non-null values.

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, None]}

df = pd.DataFrame(data)

# Display summary information about the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes
None

4. groupby(): The groupby() function is used to group data in a DataFrame based on one or more columns.

In [4]:
import pandas as pd

data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 15, 25, 30]}

df = pd.DataFrame(data)

# Group data by the 'Category' column and calculate the sum of 'Value' for each category
grouped = df.groupby('Category')['Value'].sum()
print(grouped)

Category
A    55
B    45
Name: Value, dtype: int64

5. merge(): The merge() function is used to combine two DataFrames based on common columns.

In [5]:
import pandas as pd

data1 = {'ID': [1, 2, 3],
         'Name': ['Alice', 'Bob', 'Charlie']}

data2 = {'ID': [2, 3, 4],
         'Age': [25, 30, 22]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames based on the 'ID' column
merged = pd.merge(df1, df2, on='ID')
print(merged)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

**Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.**

In [6]:
import pandas as pd

def reindex_with_custom_increment(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df) * 2 + 1)
    df_reindexed = df.copy()
    df_reindexed.index = new_index
    return df_reindexed

# Example DataFrame
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}

df = pd.DataFrame(data)

# Re-index the DataFrame
df_new_index = reindex_with_custom_increment(df)

print(df_new_index)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

**Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.**

In [15]:
import pandas as pd

values = [10, 20, 30, 40, 50]

df = pd.DataFrame(values, columns=["Values"])

In [16]:
df

   Values
0      10
1      20
2      30
3      40
4      50

In [17]:
sum = 0
for value in df["Values"][:3]:
  sum+=value
print(f"Sum of first three values : {sum}")

Sum of first three values : 60

**Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.**

In [18]:
random_texts = [
    "The quick brown fox jumps over the lazy dog.",
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    "Python is a versatile and powerful programming language.",
    "Raindrops keep falling on my head.",
    "To be or not to be, that is the question.",
    "The sun will come out tomorrow.",
    "Life is like a box of chocolates, you never know what you're gonna get.",
    "All you need is love.",
    "In the end, we will remember not the words of our enemies, but the silence of our friends.",
    "Just keep swimming.",
    "May the Force be with you.",
    "Hakuna Matata! It means no worries for the rest of your days.",
    "I'll be back.",
    "It's alive! It's alive!",
    "I see dead people.",
    "Here's looking at you, kid.",
    "You can't handle the truth!",
    "Go ahead, make my day.",
    "I feel the need... the need for speed.",
    "Houston, we have a problem."
]

In [19]:
df = pd.DataFrame(random_texts, columns =["Text"])

In [20]:
df

                                                 Text
0        The quick brown fox jumps over the lazy dog.
1   Lorem ipsum dolor sit amet, consectetur adipis...
2   Python is a versatile and powerful programming...
3                  Raindrops keep falling on my head.
4           To be or not to be, that is the question.
5                     The sun will come out tomorrow.
6   Life is like a box of chocolates, you never kn...
7                               All you need is love.
8   In the end, we will remember not the words of ...
9                                 Just keep swimming.
10                         May the Force be with you.
11  Hakuna Matata! It means no worries for the res...
12                                      I'll be back.
13                            It's alive! It's alive!
14                                 I see dead people.
15                        Here's looking at you, kid.
16                        You can't handle the truth!
17                             Go ahead, make my day.
18             I feel the need... the need for speed.
19                        Houston, we have a problem.

In [26]:
def word_count(row):
  count = len(row.split(" "))
  return count

In [27]:
df["Count"] = df["Text"].apply(word_count)

In [28]:
df

                                                 Text  Count
0        The quick brown fox jumps over the lazy dog.      9
1   Lorem ipsum dolor sit amet, consectetur adipis...      8
2   Python is a versatile and powerful programming...      8
3                  Raindrops keep falling on my head.      6
4           To be or not to be, that is the question.     10
5                     The sun will come out tomorrow.      6
6   Life is like a box of chocolates, you never kn...     14
7                               All you need is love.      5
8   In the end, we will remember not the words of ...     18
9                                 Just keep swimming.      3
10                         May the Force be with you.      6
11  Hakuna Matata! It means no worries for the res...     12
12                                      I'll be back.      3
13                            It's alive! It's alive!      4
14                                 I see dead people.      4
15                        Here's looking at you, kid.      5
16                        You can't handle the truth!      5
17                             Go ahead, make my day.      5
18             I feel the need... the need for speed.      8
19                        Houston, we have a problem.      5

Q5. How are DataFrame.size() and DataFrame.shape() different?

Both DataFrame.size and DataFrame.shape are attributes of a pandas DataFrame, but they provide different kinds of information about the DataFrame.

1. DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is calculated as the product of the number of rows and the number of columns. In other words, it gives you the total count of cells in the DataFrame.

In [29]:
import pandas as pd

data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}

df = pd.DataFrame(data)

total_elements = df.size
print(total_elements)  # Output: 9

9

In this example, the DataFrame df has 3 rows and 3 columns, so the total number of elements is 3 * 3 = 9.

2. DataFrame.shape: This attribute returns a tuple representing the dimensions of the DataFrame. The tuple contains two values: the number of rows and the number of columns.

In [30]:
import pandas as pd

data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}

df = pd.DataFrame(data)

dimensions = df.shape
print(dimensions)  # Output: (3, 3)

(3, 3)

In this example, the DataFrame df has 3 rows and 3 columns, so the shape is represented as (3, 3).

**Q6. Which function of pandas do we use to read an excel file?**

To read an Excel file in pandas, you can use the read_excel() function. This function allows you to read data from Excel files (both .xls and .xlsx formats) and create a DataFrame. Here's how you can use it:

In [ ]:
import pandas as pd

# Read data from an Excel file and create a DataFrame
df = pd.read_excel('file.xlsx')  # Replace 'file.xlsx' with the actual path to your Excel file

print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [31]:
import pandas as pd

# Sample DataFrame with 'Email' column
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.johnson@example.com']}
df = pd.DataFrame(data)

# Custom function to extract username from email address
def extract_username(email):
    return email.split('@')[0]

# Apply the custom function to the 'Email' column and create a new 'Username' column
df['Username'] = df['Email'].apply(extract_username)

# Display the DataFrame with the new 'Username' column
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1   jane.smith@example.com   jane.smith
2  bob.johnson@example.com  bob.johnson

**Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.**

For example, if df contains the following values:


A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2


Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [32]:
import pandas as pd

data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

df = pd.DataFrame(data)

print(df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [47]:
condition = (df['A']>5) & (df['B']<10)
df[condition]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

**Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.**

In [48]:
import pandas as pd

values = [10, 20, 30, 40, 50]

df = pd.DataFrame(values, columns=["Values"])

In [49]:
df

   Values
0      10
1      20
2      30
3      40
4      50

In [53]:
print(f"Mean : {df['Values'].mean()}")
print(f"Median : {df['Values'].median()}")
print(f"Mean : {df['Values'].std()}")

Mean : 30.0
Median : 30.0
Mean : 15.811388300841896

**Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.**

In [55]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Generating sample data
np.random.seed(42)  # For reproducibility
num_rows = 20
start_date = datetime(2023, 8, 1)
date_list = [start_date + timedelta(days=i) for i in range(num_rows)]
sales_list = np.random.randint(50, 300, num_rows)

# Creating the DataFrame
data = {
    'Sales': sales_list,
    'Date': date_list
}

df = pd.DataFrame(data)

print(df)

    Sales       Date
0     152 2023-08-01
1     229 2023-08-02
2     142 2023-08-03
3      64 2023-08-04
4     156 2023-08-05
5     121 2023-08-06
6     238 2023-08-07
7      70 2023-08-08
8     152 2023-08-09
9     171 2023-08-10
10    260 2023-08-11
11    264 2023-08-12
12    124 2023-08-13
13    252 2023-08-14
14    137 2023-08-15
15    166 2023-08-16
16    149 2023-08-17
17    153 2023-08-18
18    201 2023-08-19
19    180 2023-08-20

In [56]:
def calculate_moving_average(df, window_size=7):
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df

In [57]:
df = calculate_moving_average(df)

In [60]:
df

    Sales       Date  MovingAverage
0     152 2023-08-01     152.000000
1     229 2023-08-02     190.500000
2     142 2023-08-03     174.333333
3      64 2023-08-04     146.750000
4     156 2023-08-05     148.600000
5     121 2023-08-06     144.000000
6     238 2023-08-07     157.428571
7      70 2023-08-08     145.714286
8     152 2023-08-09     134.714286
9     171 2023-08-10     138.857143
10    260 2023-08-11     166.857143
11    264 2023-08-12     182.285714
12    124 2023-08-13     182.714286
13    252 2023-08-14     184.714286
14    137 2023-08-15     194.285714
15    166 2023-08-16     196.285714
16    149 2023-08-17     193.142857
17    153 2023-08-18     177.857143
18    201 2023-08-19     168.857143
19    180 2023-08-20     176.857143

**Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.**

In [61]:
import pandas as pd

# Sample DataFrame with 'Date' column
data = {
    'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05']
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

# Function to add weekday column
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

# Call the function and add weekday column
df_with_weekday = add_weekday_column(df)

print(df_with_weekday)

        Date    Weekday
0 2023-08-01    Tuesday
1 2023-08-02  Wednesday
2 2023-08-03   Thursday
3 2023-08-04     Friday
4 2023-08-05   Saturday